<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>© {{ now.Year }}</span>

        <div class="social-links">
          {{ partial "social_link.html" (dict "param" $.Site.Params.Github "baseURL" "https://github.com/" "icon" "fab fa-github-square" ) }}

          {{ partial "social_link.html" (dict "param" $.Site.Params.Twitter "baseURL" "https://twitter.com/" "icon" "fab fa-twitter-square" ) }}

          {{ partial "social_link.html" (dict "param" $.Site.Params.Linkedin "baseURL" "https://www.linkedin.com/in/" "icon" "fab fa-linkedin" ) }}

          {{ partial "social_link.html" (dict "param" $.Site.Params.Email "baseURL" "mailto:" "icon" "fas fa-envelope-square" ) }}
        </div>
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
<script src="{{ "assets/icons.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
